.Button {
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-family: $font-family-tertiary;

  &.small {
    height: 36px;
    padding: 0 2.5rem;
  }

  &.medium {
    height: 46px;
    padding: 1.5rem 2.7rem;
  }

  &.primary {
    color: $color-white;
    border-radius: 10px;
    background-color: $color-primary;
  }

  &.secondary {
    border-radius: 25px;
    color: $color-primary;
    background-color: $color-white;
    border: 2px solid $color-primary;
  }

  &:hover {
    cursor: pointer;
  }
}
