.alert-container {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.alert {
    background-color: rgba($color-primary, 0.8);
    background-size: 20px 20px;
    box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.2);
    color: #f6f6f6;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    padding: 0.75rem;
    width: 100%;
    animation: alert 1s ease forwards;
}

.alert-example {
    background-color: rgba($color-primary, 0.8);
    background-size: 20px 20px;
    box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.2);
    color: #f6f6f6;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    padding: 0.75rem;
    width: 100%;
}

.example-enter {
    opacity: 0;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: 700ms;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0;
    transition: 700ms;
}

/* Animation */

@keyframes alert {
    0% { 
        opacity: 0; 
    }

    50% { 
        opacity: 1; 
    }

    100% { 
        top: 0; 
    }
}