.depo-div-icon {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: $color-success;
}

.calsa-div-icon {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color:$color-danger;
}

.no-calsa-div-icon {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color:$color-warning;
}

.map-checkbox {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 9999;
}
