.Map {
  position: relative;
  height: calc(100vh - 108px);
}

.depo-div-icon {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: $color-success;
}

.calsa-div-icon {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color:$color-danger;
}

.no-calsa-div-icon {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color:$color-warning;
}

.map-checkbox {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 9999;
}

.leaflet-popup-content {
  p {
    font-size: 14px;
    font-weight: bold;
    color: $color-grey-dark;
    margin: 0 !important;
  }

  span {
    font-size: 14px;
    color: $color-grey-light;
  }
}
.leaflet-container a.leaflet-popup-close-button {
  top: 2px !important;
  right: 5px !important;
}

.leaflet-control-geosearch.bar {
  width: unset !important;
  margin: 5px 5px !important;
}
