.search-place {
    border: 1px solid $color-grey-light;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}