.mt-sm {
    margin-top: 2rem !important;
}

.mt-medium {
    margin-top: 3rem !important;
}

.mt-large {
    margin-top: 6rem !important;
}

.mt-xl {
    margin-top: 10rem !important;
}

.mb-small {
    margin-bottom: 1rem;
}

.mb-medium {
    margin-bottom: 3rem;
}

.mb-large {
    margin-bottom: 6rem;
}

.mb-xl {
    margin-bottom: 10rem;
}

.mr-none {
    margin-right: 0;
}

.mr-sm {
    margin-right: 1rem !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right !important;
}

.text-danger {
    color: $color-danger !important;
}

.text-success {
    color: $color-success !important;
}

.text-warning {
    color: $color-warning;
}